/* 
Paleta de colores
Verde:#75aa4e
Amarillo:#f2c54a
Gris claro1: #ededf2
Gris claro2: #dcdce1
Gris medio: #a4a4a9
Gris oscuro1: #6b6b71
Gris oscuro2: #46464b
*/
@font-face {
   font-family: "Novecentosanswide-DemiBold";
   src: url("../assets/fuentes/Novecentosanswide-DemiBold-webfont.woff2")
         format("woff2"),
      url("../assets/fuentes/Novecentosanswide-DemiBold-webfont.woff")
         format("woff");
   font-weight: normal;
   font-style: normal;
}
* {
   font-family: "Novecentosanswide-DemiBold";
   margin: 0;
   padding: 0;
   text-align: center;
}

/* Estilos generales */
.centrar {
   display: flex;
   justify-content: center;
   align-items: center;
}
.columna {
   flex-direction: column;
}
.row {
   flex-direction: row;
}
.margen {
   margin: 25px;
}
.seccion {
   padding: 30px 20%;
}
.titulo {
   height: 50px;
   padding: 20px;
   background-color: #659444;
   font-size: 35px;
   color: white;
}
.bordes-botones {
   border-style: hidden;
   border-radius: 5px;
}
.bordes-titulos {
   border-style: hidden;
   border-radius: 10px;
}

/* Barra de navegacion */
.nav {
   margin: 15px 20% 0px;
   display: flex;
   justify-content: end;
}
.nav button {
   margin: 3px;
   width: 35px;
   height: 35px;
   border: 0px solid;
   border-radius: 5px;
   background-color: #dcdce1;
}
.nav button:hover {
   transform: scale(110%);
   -webkit-transform: scale(110%);
   -o-transform: scale(110%);
   -moz-transform: scale(110%);
   background-color: #ededf2;
}
.nav button i {
   align-self: center;
   color: #46464b;
   font-size: 20px;
}

/* Barra de titulo de seccion */
.barra-titulo {
   display: flex;
   align-items: center;
   background-color: #ededf2;
   height: 45px;
}
.barra-titulo h1 {
   flex: 1;
   margin-left: 15px;
   padding-left: 25px;
   font-size: 28px;
}
.cerrar {
   margin-right: 15px;
   font-size: 25px;
   color: #46464b;
}
.cerrar:hover {
   color: #6b6b71;
}

/*Clases de seccion Ajustes*/
.num-letras {
   margin: 15px;
   font-size: 20px;
}
.btns button {
   margin: 3px;
   width: 45px;
   height: 45px;
   border-style: hidden;
   border-radius: 5px;
   margin-bottom: 10px;
   background-color: #ededf2;
   font-size: 20px;
}
.btns button:hover {
   color: white;
   background-color: #6b6b71;
}
.btns button.seleccionado {
   color: white;
   background-color: #75aa4e;
}

/* Clases de seccion Info */
.descripcion-como-jugar p {
   font-size: 18px;
   margin: 35px;
}
.btn-jugar {
   margin: 3px;
   width: 200px;
   height: 50px;
   background-color: #659444;
   font-size: 25px;
   color: white;
}
.btn-jugar:hover {
   background-color: #75aa4e;
}

/* Clases de seccion Juego */
.fila {
   margin-bottom: 5px;
}
.casillero {
   border: 2px solid #dcdce1;
   height: 56px;
   width: 56px;
   margin: 3px;
   font-size: 35px;
   transition: 0.3s ease;
}
.escrito {
   border: 2px solid #a4a4a9;
}
.palabra-jugada {
   color: white;
   border-style: hidden;
   margin: 5px;
}
.caliente {
   background-color: #75aa4e;
}
.tibio {
   background-color: #f2c54a;
}
.frio {
   background-color: #a4a4a9;
}
.btn-reiniciar {
   margin: 3px;
   width: 250px;
   height: 45px;
   background-color: #ededf2;
   font-size: 18px;
}
.btn-reiniciar:hover {
   color: white;
   background-color: #6b6b71;
}

/*Clases de seccion Estadisticas*/
.stats {
   margin: 10px;
   width: 180px;
   height: 170px;
   background-color: #ededf2;
}
.stats div {
   margin: 3px;
   padding: 5px;
}
.stat-num {
   font-size: 75px;
}
.stat-text {
   font-size: 15px;
}

/*Estilo para el display*/
.ocultar {
   display: none;
}